<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Torneio Master</title>
  <link rel="stylesheet" href='../static\base/style.css'>
</head>
<body>
  <header class="header">
    <div class="logo">TORNEIO MASTER<span>.COM</span></div>
    <nav class="nav">
      <a href="#">Menu</a>
      <a href="#">Chaveamentos</a>
      <a href="#">Contato</a>
      <a href="#">Saiba Mais</a>
    </nav>
  </header>
  <section class="container">
    <div class="hero">
      <div class="hero-text">
        <h1>Elevando sua competição ao próximo nível:</h1>
        <h2><i>Bem-vindo ao Torneio Master!</i></h2>
        <p>
          Transforme suas competições em experiências inesquecíveis. Com apenas alguns cliques, crie chaveamentos personalizados, acompanhe os resultados em tempo real. O futuro dos torneios começa aqui!
        </p>
        <button class="hero-button">CRIAR MEU TORNEIO</button>
        <p></p>
        <img class="hero-image" src="../static/base/atleta.jpg.jpeg" alt="atleta">
      </div>
    </div>
  </section>
  <footer class="footer">
    Fale conosco: (00) 00000-0000
  </footer>
</body>
</html>